html {
    background-color: #ccc;
    color: #333;
}

body {
    font-family: "Lucida Sans", Calibri, Verdana, sans-serif;
    margin: 2em auto;
    width: 800px;
}

h1 {
    background-color: #333;
    color: #fff;
    font-weight: normal;
    border: 3px solid #000;
    border-top: none; border-left: none;
    padding: 10px 20px;
    margin: 0;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
    padding: 0;
}

a {
    color: #900;
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
}

#container {
    background-color: #fff;
    padding: 10px 20px;
    border: 3px solid #999;
    border-top: none; border-left: none;
}


form {
    display: block;
}
label {
    display: block;
    margin-bottom: 1em;
}
label input {
    display: block;
    margin-top: 5px;
}

p.success strong {
    color: #090;
}
p.failure strong {
    color: #900;
}