html {
    background-color: #ccc;
    color: #333;
}

body {
    font-family: "Lucida Sans", Calibri, Verdana, sans-serif;
    margin: 2em auto;
    width: 800px;
}

h1 {
    background-color: #333;
    color: #fff;
    font-weight: normal;
    border: 3px solid #000;
    border-top: none; border-left: none;
    padding: 10px 20px;
    margin: 0;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
    padding: 0;
}

a {
    color: #900;
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
}

#container {
    background-color: #fff;
    padding: 10px 20px;
    border: 3px solid #999;
    border-top: none; border-left: none;
}
#container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


#status {
    padding: 10px 20px;
    background-color: #fff;
    border: 3px solid #999;
    border-top: none; border-left: none;
    margin-bottom: 10px;
}
#status.neutral {
    display: block;
}
#status.error {
    color: #900;
    background-color: #FF9F9F;
    border-color: #900;
}
#status.success {
    background-color: #6c6;
    border-color: #060;
    color: #040;
}
#status h2 {
    margin: 0;
    padding: 0;
    font-size: 150%;
}
#status h2 span {
    font-weight: normal;
}
#status p {
    margin: 0;
}
#status ul {
    margin-top: 0;
    margin-bottom: 0;
}


#user {
    padding: 10px 20px;
    font-size: 14px;
    text-align: right;
}


table {
    margin: 1em 0;
}
th, td {
    text-align: left;
    padding: 5px 20px;
}
th {
    border-bottom: 1px solid #999;
}
td {
    border-top: 1px dotted #ccc;
}

form table {
    margin: 0;
}
form th, form td {
    border: none;
    padding: 5px;
}


/*---------------------------------------------------------------------------
    Registration
---------------------------------------------------------------------------*/
#reg h1 {
    background-color: #936;
    border-color: #603;
}
#reg form {
    display: block;
    width: 45%;
    float: right;
    margin-bottom: 20px;
}
#reg form:first-child {
    float: left;
}
#reg label {
    display: block;
    padding: 5px 0;
}
#reg input[type="submit"] {
    font-size: inherit;
}
#reg p {
    clear: both;
}
#reg a {
    color: #603;
}