body {
    background-color: #fff;
    color: #333;
    font-family: "Lucida Sans", Calibri, Helvetica, Arial, sans-serif;
    margin: 0;
}

div.container {
    margin: 0 auto;
}

h1, h2 {
    margin: 1px 0;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-weight: normal;
}
h1 {
    margin-top: 0;
}
h2 {
    background-color: #c30;
}

table {
    width: 100%;
}

th, td {
    text-align: left;
    vertical-align: top;
    padding: 5px 20px;
}

th {
    background-color: #333;
    color: #fff;
    font-weight: normal;
    border-left: 1px dotted #fff;
}
th#description {
    width: 100%;
}
th:first-child {
    border-left: none;
}

td {
    border-top: 1px dotted #ddd;
}
tr:hover td {
    background-color: #eee;
}

a {
    color: #c30;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}