body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 12px;
}

a {
    color: #06c;
    color: #900;
}
a:hover {
    text-decoration: none;
}


/*===========================================================================
    Container
===========================================================================*/
#container {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}


/*===========================================================================
    Header
===========================================================================*/
#header {
    text-align: center;
    border-bottom: 1px solid #333;
}
#header h1 {
    text-indent: -5000px;
    background: transparent url(img/logo.png) center no-repeat;
    height: 84px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #333;
}
#header div.meta {
    margin: 1px 0;
    padding: 1px 0;
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
}
#header div.meta p {
    margin: 0;
    font-size: 12px;
    padding: 3px;
    background-color: #333;
    color: #fff;
    font-variant: small-caps;
    letter-spacing: 2px;
}


/*===========================================================================
    Navigation sidebar
===========================================================================*/
#nav {
    width: 120px;
}
#nav h2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 2px 5px;
    background-color: #eee;
    border-bottom: 1px solid #666;
}
#nav ul, #nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
#nav ul {
    margin-bottom: 100px;
}
#nav li {
    font-family: "Lucida Sans", Calibri, Verdana, sans-serif;
    border-bottom: 1px dotted #333;
}
#nav li a {
    font-size: 12px;
    display: block;
    padding: 2px 5px;
    text-decoration: none;
}
#nav li a:hover {
    background-color: #900;
    color: #fff;
}


/*===========================================================================
    Main content
===========================================================================*/
#content {
    margin-left: 120px;
    margin-right: 220px;
    border-left: 1px dotted #333;
    border-right: 1px dotted #333;
    padding: 1px 0;
}
#content p {
    font-size: 14px;
    padding: 0 20px;
}
#content h2 {
    margin-bottom: -12px;
    padding: 0 20px
}

#content div.left {
    float: left;
    width: 330px;
}
#content div.right {
    float: none;
    margin-left: 330px;
}

#content #above-the-fold {
    border-bottom: 1px solid #333;
}
#above-the-fold div.left {
    margin-top: -14px;
}
#above-the-fold div.right {
    float: none;
    margin-left: 330px;
}
#above-the-fold h2:first-child {
    padding-top: 10px;
}
div.photo {
    padding: 10px;
    background-color: #ccc;
    margin-top: -1px;
}
div.photo img {
    display: block;
    width: 308px;
    border: 1px solid #333;
}
#above-the-fold div.photo p {
    font-size: 11px;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}


#other-news h3 {
    margin: 0;
    padding: 0 20px;
}
#other-news ul {
    margin-top: 0;
    margin-right: 20px;
    list-style-type: square;
}
#other-news div.section.left {
    border-right: 1px dotted #333;
}
#other-news h3:first-child {
    padding-top: 20px;
}
#other-news ul.last {
    margin-bottom: 30px;
}


/*===========================================================================
    Ads/photos sidebar
===========================================================================*/
#ads {
    width: 220px;
}
#ads p {
    font-size: 12px;
    padding: 0 20px;
}
#ads h3 {
    margin: 0;
    margin-bottom: -10px;
    padding: 0 20px;
}
#ads div.section:first-child h3 {
    padding-top: 10px;
}
#ads div.section {
    margin-bottom: 10px;
    border-bottom: 1px dotted #333;
}
#ads img {
    border: 1px solid #333;
}


/*===========================================================================
    Footer
===========================================================================*/
#footer {
    clear: both;
    border-top: 1px solid #333;
}
#footer div {
    border-top: 1px dotted #333;
    margin-top: 1px;
}
#footer p {
    background-color: #333;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    text-align: center;
    margin: 0;
    margin-top: 1px;
    padding: 1em;
}
#footer a {
    color: #ccc;
}


/*===========================================================================
    Miscellaneous
===========================================================================*/
div.left {
    float: left;
}
div.right {
    float: right;
}

.clear {
    clear: both;
    height: 0px;
    overflow: hidden;
}

hr {
    clear: both;
    height: 3px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #333;
    margin: 0;
    padding: 0;
}

hr.top {
    border: none;
    border-top: 1px solid #fff;
}
