html {
    background-color: #ccc;
    color: #333;
}

body {
    font-family: "Lucida Sans", Calibri, Verdana, sans-serif;
    margin: 2em auto;
    width: 700px;
}

h1 {
    background-color: #333;
    color: #fff;
    font-weight: normal;
    border: 3px solid #000;
    border-top: none; border-left: none;
    padding: 10px 20px;
    margin: 0;
    margin-bottom: 10px;
}

#container {
    background-color: #fff;
    padding: 10px 20px;
    border: 3px solid #999;
    border-top: none; border-left: none;
}

#status {
    display: none;
    padding: 10px 20px;
    background-color: #fff;
    border: 3px solid #999;
    border-top: none; border-left: none;
    margin-bottom: 10px;
}
#status.error {
    color: #900;
    background-color: #FF9F9F;
    border-color: #900;
}
#status.success {
    background-color: #6c6;
    border-color: #060;
    color: #040;
}
#status h2 {
    margin: 0;
    padding: 0;
    font-size: 150%;
}
#status h2 span {
    font-weight: normal;
}
#status p {
    margin: 0;
}
#status ul {
    margin-top: 0;
    margin-bottom: 0;
}


/*---------------------------------------------------------------------------
    Calculator
---------------------------------------------------------------------------*/
#calculator h1 {
    background-color: #900;
    border-color: #600;
}

#calculator div.field {
    margin: 1em 0;
}
#calculator div.field label {
    width: 8em;
    display: inline-block;
}
#calculator div.field input {
    margin: 0;
}
#calculator div.field input[type="text"] {
    width: 6em;
    text-align: left;
}
#calculator div.field p {
    margin: 0;
    font-size: 80%;
    color: #666;
}

#calculator form {
    float: left;
    width: 17em;
}
#calculator #results {
    margin-left: 17em;
}

#calculator h3 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

#calculator #results table {
    border: 2px solid #ccc;
    border-top: none; border-left: none;
    background-color: #eee;
    margin-top: 10px;
    width: 100%;
}
#calculator #results th, #calculator #results td {
    border-top: 1px dotted #ccc;
    padding: 5px 10px;
}
#calculator #results tr:first-child th,
#calculator #results tr:first-child td {
    border-top: none;
}
#calculator #results th {
    font-weight: normal;
    text-align: left;
}
#calculator #results td {
    text-align: right;
    color: #369;
    font-weight: bold;
}


/*---------------------------------------------------------------------------
    Quiz
---------------------------------------------------------------------------*/
#quiz h1 {
    background-color: #369;
    border-color: #036;
}
#quiz label {
    display: block;
}
#quiz label input {
    position: relative;
    top: 1px;
}
#quiz label + br {
    display: none;
}
#quiz p + label {
    margin-top: -1em;
}
#quiz input[type="text"] {
    font: inherit;
    border: 2px inset #999;
}
#quiz a {
    cursor: pointer;
    color: #369;
    border-bottom: 1px dotted #369;
}
#quiz li.error {
    color: #900;
}
#quiz li.error label {
    color: #333;
}
#quiz li.error input[type="text"] {
    background-color: #FFCFCF;
}


/*---------------------------------------------------------------------------
    Registration
---------------------------------------------------------------------------*/
#reg h1 {
    background-color: #936;
    border-color: #603;
}
#reg label {
    font-weight: bold;
}
#reg div.field p {
    font-size: 80%;
    color: #666;
    margin-top: 0;
}
#reg input[type="submit"] {
    font-size: inherit;
}