html {
    background-color: #900;
    margin: 0;
    padding: 20px;
}
body {
    margin: 0 auto;
    width: 600px;
    font-family: "Lucida Sans", Calibri, Verdana, sans-serif;
    color: #333;
}

h1, table, p {
    padding: 10px 20px;
    background-color: #fff;
    border: 3px solid #600;
    border-top: none; border-left: none;
}

h1 {
    margin: 0 0 10px 0;
    color: #600;
    font-weight: normal;
}

table {
    width: 100%;
}
th, td {
    text-align: left;
    padding: 5px 0;
}
th {
    border-bottom: 2px solid #333;
}
td {
    border-top: 1px dotted #ccc;
}

#time {
    width: 8em;
}

input[type="text"] {
    width: 98%;
}
input[type="submit"] {
    width: 100%;
    font: inherit;
}