html {
    background-color: #ccc;
    color: #333;
}

body {
    font-family: "Lucida Sans", Calibri, Verdana, sans-serif;
    margin: 2em auto;
    width: 700px;
}

h1 {
    background-color: #333;
    color: #fff;
    font-weight: normal;
    border: 3px solid #000;
    border-top: none; border-left: none;
    padding: 10px 20px;
    margin: 0;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
    padding: 0;
}

#container {
    background-color: #fff;
    padding: 10px 20px;
    border: 3px solid #999;
    border-top: none; border-left: none;
}
#container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


#status {
    padding: 10px 20px;
    background-color: #fff;
    border: 3px solid #999;
    border-top: none; border-left: none;
    margin-bottom: 10px;
}
#status.neutral {
    display: block;
}
#status.error {
    color: #900;
    background-color: #FF9F9F;
    border-color: #900;
}
#status.success {
    background-color: #6c6;
    border-color: #060;
    color: #040;
}
#status h2 {
    margin: 0;
    padding: 0;
    font-size: 150%;
}
#status h2 span {
    font-weight: normal;
}
#status p {
    margin: 0;
}
#status ul {
    margin-top: 0;
    margin-bottom: 0;
}


#user {
    padding: 10px 20px;
    font-size: 14px;
    text-align: right;
}


/*---------------------------------------------------------------------------
    Newspaper
---------------------------------------------------------------------------*/
#newspaper h1 {
    background-color: #900;
    border-color: #600;
}
#newspaper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#newspaper li {
    margin: 0;
    padding: 10px 0;
}
#newspaper h2 {
    font-weight: normal;
}
#newspaper a {
    color: #900;
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
}


/*---------------------------------------------------------------------------
    Quiz
---------------------------------------------------------------------------*/
#quiz h1 {
    background-color: #369;
    border-color: #036;
}
#quiz label {
    display: block;
}
#quiz label input {
    position: relative;
    top: 1px;
}
#quiz label + br {
    display: none;
}
#quiz p + label {
    margin-top: -1em;
}
#quiz input[type="text"] {
    font: inherit;
    border: 2px inset #999;
}
#quiz li.error {
    color: #900;
}
#quiz li.error label {
    color: #333;
}
#quiz li.error input[type="text"] {
    background-color: #FFCFCF;
}

#quiz th, #quiz td {
    text-align: left;
    padding: 5px 10px;
    width: 8em;
}
#quiz th {
    border-bottom: 1px solid #ccc;
}
#quiz td {
    border-top: 1px dotted #eee;
}

#quiz a {
    color: #036;
}


/*---------------------------------------------------------------------------
    Registration
---------------------------------------------------------------------------*/
#reg h1 {
    background-color: #936;
    border-color: #603;
}
#reg form {
    display: block;
    width: 45%;
    float: right;
    margin-bottom: 20px;
}
#reg form:first-child {
    float: left;
}
#reg label {
    display: block;
    padding: 5px 0;
}
#reg input[type="submit"] {
    font-size: inherit;
}
#reg p {
    clear: both;
}
#reg a {
    color: #603;
}