body {
    background-color: #ddd;
    color: #333;
    font-family: "Lucida Sans", Calibri, Helvetica, Verdana, sans-serif;
    padding: 0;
    margin: 4em;
}

div.container {
    min-width: 45em;
    max-width: 50em;
    margin: 0 auto;
}

div.section {
    padding: .75em 1.5em;
    background-color: #fff;
    border-right: .3em solid #ccc;
    border-bottom: 1px dotted #ccc;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

#name {
    background-color: #900;
    color: #fff;
    border-bottom: .3em solid #600;
    border-right: .3em solid #600;
    margin-bottom: 1.5em;
}
#footer {
    border-bottom: .3em solid #ccc;
    text-align: right;
}

a {
    color: #600;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}
a:hover {
    color: #fff;
    background-color: #900;
    border-bottom: none;
}

address {
    font-style: normal;
    margin: 1em 0;
}

img {
    display: block;
    float: right;
    margin: 1.5em;
    margin-top: -.75em;
    margin-right: -1.8em;
    
    padding-left: 1.5em;
    padding-bottom: 1.5em;
    background-color: #ddd;
    border-left: .3em solid #ccc;
}
