body {
    color: #fff;
    background-color: #333;
    font-family: "Lucida Sans", Calibri, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    font-weight: normal;
    font-size: 24px;
    margin: 0;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #111;
}

div#container {
    background-color: #999;
    padding: 10px;
    border: 1px solid #666;
    border-left: none; border-right: none;
}

div#board {
    border: 1px solid #666;
    width: 400px;
    height: 300px;
}
img#puzzle {
    display: block;
}

img.piece {
    position: absolute;
}

div#status {
    padding: 10px;
    border-top: 1px solid #111;
}
input {
    font: inherit;
    width: 400px;
}